apiVersion: v1
data:
  .dockerconfigjson: {{.ImageSecretDockerConfigJson}}
kind: Secret
metadata:
  name: {{.ImageSecretName}}
  namespace: {{.ImageSecretNamespace}}
type: kubernetes.io/dockerconfigjson
